body {
    padding-top: 10px;
    background-color: #ddd;
}

.principal {
    padding: 40px 15px;
    text-align: center;
}

.funcionario-div{
    margin-top: 20px;
    margin-bottom: 20px;    
}

.funcionario{
    margin-top: 50px;
}

.borderless table tr{
    border: none !important;
}

#tableFuncionario{
    border-radius: 50px;
    background-color: #f9f9f9;
    
    color: black;
    
    padding: 100px;
}

#title{
    text-align: center;
    
    background-color: #BA1C58;
    
    color: white;
    
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.funcionario-div td {
    border:none;
    text-align:right;
    padding: 20px !important;
}

.funcionario-div tr{
   border: none;
}

.funcionario-div span{
    color: red;
}

/*Funcionario Consulta*/

#funcionario-consulta thead{
    background-color: #BA1C58;
    color: white;
}

#funcionario-consulta th, #funcionario-consulta td{
    text-align: center;
}

#funcionario-consulta .table{
    margin-top: 100px;
}

#funcionario-consulta table{
    text-align: center; 
}

#funcionario-consulta .table-striped > tbody > tr:nth-child(2n) > td, #funcionario-consulta .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: white;
}